html { 
  background: url(https://s3.amazonaws.com/Syntaxxx/background-gold-bokeh.jpg) no-repeat center center fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}